<%- include('../_partial/_header'); -%>
<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>HOME PAGE</b></h1>
   <span class="w3-tag"> 

    <a href="#">Explore what others have to say!</a></span>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://en.number13.de/content/images/size/w1600/2021/04/league-of-legends-tutorial.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>League of Legends suprised me!</b></h3>
      <h5>Created on <span class="w3-opacity">April 7, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>Have been into MOBA games my whole life but never really got a chance to try this one out. The game didn't look very promising and the mechanics seemed off. But to be completely honest, after playing a few rounds, this might be my new favorite game so far.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://static.gosugamers.net/6b/3f/d4/2b3b6b2fa17908ebdc32b1ebbde54f70da5546c136fdafcc3dc520d30a.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>CS:GO Has best game mechanics!</b></h3>
      <h5>Created on <span class="w3-opacity">June 2, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>CS:GO has the upper hand in terms of combat mechanics. Weapons and movement especially feel more accurate than in Fortnite and PUBG. All these factors make for a much more condensed and manageable experience. I particularly enjoy that matches tend to only take about 10 minutes from start to finish..</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">

  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://playvalorant.com/assets/video/game-overview-poster-launch.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Valorant is an copy!</span><br>
        <span>By nikolaus</span>
      </li>
      <li class="w3-padding-16">
        <img src="https://i.insider.com/560ebbe7dd0895325c8b458e?width=1000&format=jpeg&auto=webp" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Super Mario - Old but gold!</span><br>
        <span>By ted</span>
      </li> 
      <li class="w3-padding-16">
        <img src="https://play-lh.googleusercontent.com/V-lvUzA5kK0Xw3wdg8Ct3vfIMXUX5vXYcNLPmudaZ-eyQjedYz-luqIuLmJO6KodE0Y" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Pacman is best retro game!</span><br>
        <span>By olivia34</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://d33wubrfki0l68.cloudfront.net/f1fe7d63e4f96a25173f7c03c0bf738f871c5565/085d8/assets/table/table5.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Farmville is coming back?</span><br>
        <span>By mark22</span>
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">MOBA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Adventure</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">MMORPG</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Action</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Farm</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">RPG</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">PS4</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shooter</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Roleplay</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Kids</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Anime</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">PC</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>
  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>
  <p>Powered by <a href="https://www.famnit.upr.si/sl/sis" target="_blank">famnit</a></p>
</footer>

</body>
</html>


<%- include ('../_partial/_footer'); -%>