<%- include('../_partial/_header'); -%>


<html>

<style>
    html,body{
        margin:0;
        height:100%;
    }
    img{
      display:block;
      width:50%; 
      height:100%;
      object-fit: cover;
      margin-left: 300px;
       
    }
</style>

<body>


    <img src="https://i.ibb.co/Nr7QJ5F/Studio-Shodwe-Colorful-Mascot-Heavy-Gaming-Logo-Template.png" alt="Studio-Shodwe-Colorful-Mascot-Heavy-Gaming-Logo-Template" border="0" >

</body>
</html>
<%- include ('../_partial/_footer'); -%>